<div class="row">
  <div class="col-xl-12">
    <div class="topbar d-flex justify-content-around bg-danger vh-50">
      <div class="mr-auto p-3">
        <h3 style="font-family: 'Passion One'">Zomato</h3>
      </div>
      <div class="p-2">
        <input class="form-control" type="text" placeholder="Search" />
      </div>
      <div class="p-2">
        <!-- <a href="#" class="badge badge-danger">Ascending</a>
        <a href="#" class="badge badge-danger">Descending</a> -->
        <select class="form-control btn btn-danger" id="arrange">
          <option value="Asc">Ascending</option>
          <option value="Desc">Descending</option>
        </select>
      </div>
      <div class="p-2"><a class="btn btn-danger" href=""> Log in</a></div>
      <div class="p-2">
        <a class="btn btn-danger" href="">Create an account</a>
      </div>
      <!-- <h3 class="p-3 mx-5" style="font-family: 'Passion One'">Zomato</h3>
      <div>
        <a class="btn btn-danger p-2 m-2" href=""> login</a>
      </div>
      <div><a class="btn btn-danger p-2 m-2" href="">Create account</a>
      </div> -->
    </div>
  </div>
</div>
<!-- 
<div class="row">
  <div class="col-xl-12 text-center">
    hello
  </div>
  <div class="col-xl-12 text-center">
    world
  </div>
</div> -->
<div class="container-fluid" style="background-color: #F5F5F5;">
  <div class="container">
    <h3 class="font-weight-bold py-2">Orfer food online in Chennai</h3>
    <div class="my-3">
      <input
        class="form-control"
        id="search"
        type="text"
        placeholder="Search for restaurants or cuisines.."
      />
    </div>
    <div class="row ">
      <div
        class="col-xl-5 my-2 mx-2 card "
        *ngFor="let restaurant of restaurants"
      >
        <div class="row p-1 my-2">
          <div class="col-xl-3 ">
            <figure>
              <img
                class=" card-image img-fluid"
                src="{{ restaurant.restaurant.thumb }}"
                alt=""
              />
            </figure>
          </div>
          <div class="col-xl-6 card-title">
            <h4 class="font-weight-bold text-danger">
              {{ restaurant.restaurant.name }}
            </h4>
            <span class="card-subtitle text-secondary">{{
              restaurant.restaurant.cuisines
            }}</span>
            <p class="card-text text-secondary">
              Costs ₹{{ restaurant.restaurant.average_cost_for_two }} for two
            </p>
          </div>
          <div class="col-xl-3">
            <button class="btn btn-success">
              {{ restaurant.restaurant.user_rating.aggregate_rating }}
            </button>
            <h6 class="card-text text-secondary">
              {{ restaurant.restaurant.user_rating.votes }} votes
              {{ restaurant.restaurant.all_reviews_count }} reviews
            </h6>
            <!-- <h6 class="card-text text-secondary">{{restaurant.restaurant.all_reviews_count}} reviews</h6> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div> -->
